@model Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container" style="margin-top:50px;height:500px;width:500px;">
    <div class="mt-2">
        <form class="border border- p-2 border-opacity-25" method="post" enctype="multipart/form-data">
            <header>
                <h2>Kategori Olusturma</h2>
            </header>
            <body>
                <div>
                    @using (Html.BeginForm("Create", "Category", FormMethod.Post))
                    {
                        <label class="form-label">Kategori Adı</label>
                        <input type="text" style="background-color:#EDF1D6" class="form-control" placeholder="Category Adı" asp-for="CategoryName">
                        <br />
                       
                        

                        <input type="submit" value="Oluştur" />
                    }
                </div>

            </body>

        </form>
    </div>
</div>

