@model Actor
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="margin-top:50px;height:500px;width:500px;">
    <div class="mt-2">
        <form class="border border- p-2 border-opacity-25" method="post" enctype="multipart/form-data">
            <header>
                <h2>Actor Güncelleme</h2>
            </header>
            <body>
                <div>
                    @using (Html.BeginForm("Update", "Actor", FormMethod.Post))
                    {
                        <label class="form-label">Actor Adı</label>
                        <input type="text" style="background-color:#EDF1D6" class="form-control" placeholder="Actor Adı" asp-for="Name">
                        <br />
                     
                        <input type="text" style="background-color:#EDF1D6" class="form-control" placeholder="Actor SoyaAdı" asp-for="LastName">
                        <br />




                        <input type="submit" value="Güncelle" />
                    }
                </div>

            </body>

        </form>
    </div>
</div>



