<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>


                        <th>  PAketler</th>
                        <th>  ıd</th>
                        <th>  ıd</th>
                        <th>  ıd</th>
                    </tr>
                </thead>
                @*<tbody>
                @foreach (var item in Model.Movies)
                {







                </tr>
                }
                </tbody>*@
            </table>
        </div>
    </div>
</div>