@model RegisterVm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div asp-validation-summary="All">
        </div>
        <form asp-action="Register" asp-controller="Home">
            <div class="mb-2">
                <label> Kullanıcı Adı</label>
                <span asp-validation-for="Username"> </span>
                <input class="form-control" asp-for="Username" />
            </div>
            <div class="mb-2">
                <label> Email Adresi</label>
                <span asp-validation-for="Email"> </span>
                <input type="email" class="form-control" asp-for="Email" />
            </div>
            <div class="mb-2">
                <label> Şifre</label>
                <span asp-validation-for="Password"> </span>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <div class="mb-2">
                <label> Şifre Onayı</label>
                <span asp-validation-for="ConfirmPassword"> </span>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
            </div>
          <div class="mb-2">
                <label> Kredi Kartı Numarası</label>
                <span asp-validation-for="CreditCardNumber"> </span>
                <input class="form-control" asp-for="CreditCardNumber" />
            </div> 
            <div class="mb-2">
                <label> Son Kullanma Tarihi</label>
                <span asp-validation-for="CardExpiryDate"> </span>
                <input class="form-control" asp-for="CardExpiryDate" />
            </div>
            <div class="mb-2">
                <label> Cvc Kodu</label>
                <span asp-validation-for="CvcCode"> </span>
                <input class="form-control" asp-for="CvcCode" />
            </div>
            <div class="mb-2">
                <label> Adres </label>
                <span asp-validation-for="Adress"> </span>
                <input class="form-control" asp-for="Adress" />
            </div>
            <div class="mb-2">
                <label> Telefon Numarası </label>
                <span asp-validation-for="PhoneNumber"> </span>
                <input class="form-control" asp-for="PhoneNumber" />
            </div>
            <div><span>Paket Özellikleri.</span></div>
            <div>
                <span>
                    Ekonomik Paket  Bir değişimde 2 Film 16 Film   19,90 YTL
</span>
            </div>
            <div>
                <span>
                    3'lü Paket Bir değişimde 3 Film 24 Film 29,9 YTL

                </span>
            </div>
            <div>
                <span>
                    4'lüPaket Bir değişimde 4 Film 32 Film  39,9 YTL
                </span>
            </div>
            <div>
                <span>
                    4'lüPaket Bir değişimde 4 Film 32 Film 39,9 YTL 
                </span>
            </div>
            <div>
                <select class="form-select" aria-label="Default select example" name="paket">
                    <option selected>Paketler</option>
                    <option value="true">Gold Paket</option>
                    <option value="false">Economik Paket</option>
                    <option value="false">3'lu Paket</option>
                    <option value="false">4'Lu Paket</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Kullanıcı Oluştur</button>

        </form>
    </div>

</div>

